DROP TABLE IF EXISTS meters CASCADE; CREATE TABLE meters (meter_id UUID PRIMARY KEY DEFAULT gen_random_uuid(), meter_number VARCHAR(50) NOT NULL UNIQUE, manufacturer VARCHAR(50), model VARCHAR(50), firmware_version VARCHAR(20), hardware_version VARCHAR(20), created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP);
